<img class="key" src="res/key.png" id="key">
<h1 class="red">hello!!!</h1>
<input class="inline right">
<marquee class="big" id="">welcome to my website</marquee>
<p class="big-yellow">web design is my passion</p>
<img src="res/smiley.jpg" class="hover-scale right">
<div class="fill"></div>
<p class="center red big">lorem</p>
<button class="block">tea</button>
<button class="block">coffee</button>
<a href="#" class="big small-margin">bla</a>
<a href="#" class="big small-margin">bla</a>
<a href="#" class="big small-margin">bla</a>
<ul class="right big-yellow">
	<li>bla</li>
	<li>bla</li>
	<li>
		<a class="anti-link" href="#" id="link1">bla</a>
	</li>
	<li>bla</li>
</ul>
<img src="res/frog.png" class="block margin-top center margin-left">
<div id="door-wrapper" class="margin-top">
	<img src="res/door.png">
</div>
