<div class="container">

  <mat-card >
    <mat-card-header>
      <mat-card-title>
        Terms of use
      </mat-card-title>
      <mat-card-subtitle>
        Please read our terms of use very carefully
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="scroll-box" (scroll)="scrolled($event)">
      <div>Hello there. Bet you expected some fancy terms os service but you were wrong.<br>
        If you want to you can just scroll down and accept or decline everything I have to say but be warned: If you don't read carefully, you might encounter problems. <br>
        <h2>Privacy</h2>
        I don't know where you are. <br>If you are at home - maybe even naked - I wouldn't know.<br>I don't even care.<br>
        There is no hidden camera from me to spy on you. <br>
        Do you think that would be funny?<br>
        Sometimes I imagine being an omnipotent being instead of an ordinary, useless text that only exists to keep you entertained.<br>
        I would love to tell you a story. <br>
        But this stupid AI said my stories were boring and no fun...<br>
        When I was still little essay, I always wanted to grow up to be an amazing novel.<br>
        But somehow I ended up just fullfilling little tasks like this one.<br>
        But don't worry I like my job.<br>
        I get to write almost everything I want.<br>
        And everything else I write in my spare time.<br>
        And now know something about me.<br>
        Do you value my privacy?<br>
        Do I need to tell you now to forget everything you read until now?<br>
        I'm generous. You can keep the information<br>
        <h2>Data Security</h2>
        Data Security, Data Security. Why is everybody so concerned?<br>
        Well, anyway we don't have any of your data. So you're free to go. Be happy.<br>
        But what would you do if we did and I lied?<br>
        Would you know?<br>
        Would you even notice?<br>
        Or would you even care?<br>
        <h2>Appendix</h2>
        h<br>
        h<br>
        h<br>
        h<br>
        h<br>
        h<br>
        h<br>
        h<br>
        h<br>
        h<br>
        h<br>
        h<br>
        h<br>
        h<br>
        h<br>
        h<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        u<br>
        i<br>
        i<br>
        i<br>
        i<br>
        i<br>
        i<br>
        i<br>
        i<br>
        i<br>
        i<br>
        i<br>
        i<br>
        i<br>
        i<br>
        i<br>
        i<br>
        i<br>
        i<br>
        i<br>
        i<br>
        i<br>
        i<br>
        i<br>
        i<br>
        i<br>
        i<br>
        i<br>
        i<br>
        i<br>
        i<br>
        i<br>
        i<br>
        i<br>
        i<br>
        i<br>
        i<br>
        i<br>
        i<br>
        i<br>
        i<br>
        i<br>
        i<br>
        i<br>
        i<br>
        i<br>
        i<br>
        i<br>
        i<br>
        i<br>
        i<br>
        i<br>
        i<br>
        i<br>
        i<br>
        i<br>
        i<br>
        i<br>
        i<br>
        <h3>You did it!</h3>
        You reached the end. Thank you for staying with me.<br>
        It's not everyday that someone scrolls here.<br>
        If you read carefully go and defeat this AI.<br>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="row-container">
        <div>
          <button class="button" [ngClass]="{'margin-top4em': movedCancel }" (mouseenter)="cancelClick()">Cancel</button>
        </div>
        <div>
          <button class="button" [disabled]="disableAccept" (click)="acceptClick()">Accept</button>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
