<div class="container">

  <mat-card (scroll)="scrolled($event)">
    <mat-card-header>
      <mat-card-title>
        Terms of use
      </mat-card-title>
      <mat-card-subtitle>
        Please read our terms of use very carefully
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="scroll-box">

      <div>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, </div>
      <div>sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, </div>
      <div>sed diam voluptua. </div>
      <div>At vero eos et accusam et justo duo dolores et ea rebum.</div>
      <div>Stet clita kasd gubergren, </div>
      <div>no sea takimata sanctus est Lorem ipsum dolor sit amet. </div>
      <div>Lorem ipsum dolor sit amet, </div>
      <div>consetetur sadipscing elitr, </div>
      <div>sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, </div>
      <div>sed diam voluptua. </div>
      <div>At vero eos et accusam et justo duo dolores et ea rebum. </div>
      <div>Stet clita kasd gubergren, </div>
      <div>no sea takimata sanctus est Lorem ipsum dolor sit amet. </div>
      <div>Lorem ipsum dolor sit amet, </div>
      <div>consetetur sadipscing elitr, </div>
      <div>sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, </div>
      <div>sed diam voluptua. </div>
      <div>At vero eos et accusam et justo duo dolores et ea rebum. </div>
      <div>Stet clita kasd gubergren,</div>
      <div>no sea takimata sanctus est Lorem ipsum dolor sit amet.</div>
      <div>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, </div>
      <div>vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. </div>
      <div>Lorem ipsum dolor sit amet, </div>
      <div>consectetuer adipiscing elit, </div>
      <div>sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
      <div>Ut wisi enim ad minim veniam, </div>
      <div>quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </div>
      <div>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, </div>
      <div>vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</div>
      <div>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer</div>
    </mat-card-content>
      <mat-card-actions>
      <div class="row-container">
        <div>
          <button class="button" [ngClass]="{'margin-top4em': movedCancel }" (mouseenter)="cancelClick()">Cancel</button>
        </div>
        <div>
          <button class="button" [disabled]="disableAccept" (click)="acceptClick()">Accept</button>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
